.jumbotron {
    text-align: center;
    font-size: 6vw;
    background: #222629;
    font-weight: 700;
    color: white;
}

#labeldatos {
    color: #222629;
}

body {
    color: white;
}

#urlform {
    margin-left: 29%;
    margin-bottom: 5%;
    margin-top: 2%;
}

#title {
    text-align: center;
    color: black;
}

#info {
    color: black;
}

#infolabel {
    color: black;
    font-size: 2em;
    font-weight: 600;
}